body {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

header {
    width: 100%;
    height: 150px;
    background-color: blue;
}

header a img {
    margin-top: 24px;
    margin-bottom: 24px;
    height: 100px;
    width: 100%;
}


.mitte {
    display: flex;
    justify-content: center;
    align-items: center;
}


nav {
    position: sticky;
    top: 0px;
    backdrop-filter: blur(16px);
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 24px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(4, 4, 145);
    font-weight: 700;
    padding: 16px;
}

section {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.nebeneinander {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#teaser {
    width: 100%;
    height: 120px;
    margin-right: 16px;
}


#teaser img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 400px) {

    #teaser {
        height: 50px;
        object-fit: cover;
        width: 0%;
        margin-right: 0px;
    }
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: collapse;
    background-color: white;
}

caption, th, td {
    padding: 10px 15px;

}

th {
    background-color: rgb(45, 45, 191);
}

tr:nth-of-type(2n) {
    background-color: rgb(220, 220, 220);
}

section a {
    text-decoration: none;
    color: rgb(4, 4, 145);
    font-weight: 700;
}


.anordnen {
    width: 20%;
}
